$directions: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right"
);
$dimensions: (
  "p": "padding",
  "m": "margin"
);

@each $dim in $dimensions {
  @each $dir in $directions {
    @for $i from 1 through 5 {
      $size: $i * 5;
      .#{nth($dim,1)}-#{nth($dir,1)}-#{$size} {
        #{nth($dim,2)}-#{nth($dir,2)}: #{$size}px;
      }
    }
  }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

